.PokemonCard__container {
    border: 1px solid #ccc;
    width: 24%;
    margin: 10px 0px;
}

.PokemonCard__type-container {
    margin-bottom: 20px;
    display: flex;
}

.PokemonCard__type {
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    margin: 10px;
    width: fit-content;
}

.PokemonCard__name {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 10px;
}

.PokemonCard__index {
    margin-left: 10px;
}

.PokemonCard__img-container {
    width: 100%;
    text-align: center;
}

.PokemonCard__img {
    width: 40%;
}

@media(max-width: 768px) {
    .PokemonCard__container {
        width: 30%;
    }

    .PokemonCard__type-container {
        flex-direction: column;
    }

    .PokemonCard__img {
        width: 60%;
    }
}

@media(max-width: 550px) {
    .PokemonCard__container {
        width: 46%;
    }
}